.blog-hero {
  background: $charcoal;
  color: white;
  padding: $vertical-padding+$navbar-height $outside-padding $vertical-padding $outside-padding;
}

.blog-hero-title {
  margin-bottom: 20px;
}

.blog-hero-tagline {
  text-align: center;
  font-size: 20px;
}

#title-description { background:$charcoal; padding:3rem 5%; color:white; position:relative;
  h2 { font-size:5rem; font-weight:800; }
  p { font-size:2rem; max-width:500px; padding-left:3rem; margin-top:1rem; }
  @media(max-width:500px) {
    h2 { text-align:center; }
    p { text-align:center; padding-left:0; }
  }
}
