$pagination-height: 60px;

.pagination {
  @include clearfix;
  background: $charcoal;
  color: white;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  position: relative;
}

.pagination-previous,
.pagination-next {
  padding: 0 3%;
  line-height: $pagination-height;
  position: absolute;
  top: 0;
  @media(max-width:425px) { display:none; }
}

.pagination-previous {
  border-right: 2px solid $light-charcoal;
  left: 0;
}

.pagination-next {
  border-left:2px solid $light-charcoal;
  right:0;
}

.pagination-pagenumber {
  line-height: $pagination-height;
  padding:0 2px;

  &.active {
    pointer-events: none;
    color:lighten($charcoal, 20%);
  }
}

