$post-margin: 25px;

.post {
  position:relative;
  max-width: 850px;
  margin:0 auto;
  padding: $outside-padding $vertical-padding;
}

.post-title {
  font-size: 40px;
  font-weight: 800;
}

.post-tags {
  margin: 20px 0;
}

.post p, ul {
  font-size: 18px;
  line-height: $post-margin;
  margin-bottom: $post-margin;

  a { text-decoration: underline; }
}

.post img {
  display:block;
  width: 90%;
  margin:0 auto $post-margin auto;
  background: $light-gray;
  border: 8px solid $light-gray;
}

.post .post-caption {
  background:$light-gray;
  margin: -$post-margin auto $post-margin auto;
  width:90%;
  text-align:left;
  padding:5px $outside-padding 10px $outside-padding;
  font-size: 14px;
  line-height: 20px;
}

.post-button {
  @include transition(.35s);
  background: $charcoal;
  color: white;
  font-size: 18px;
  font-weight: 900;
  padding: 8px 0;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
  width: 80%;
  margin: 0 auto $post-margin auto;
  display: block;

  &:hover { background: $light-charcoal; }
}

#disqus_thread { max-width:80rem; padding:5%; margin:0 auto; }

// p.block-quote { background:$light-gray; padding:4rem; position:relative; width:90%; margin:0 auto 2.5rem auto;
//   @media (max-width:550px) { width:100%; }
//   &:before { content:url('/src/img/quote-open.svg'); position:absolute; left:10px; top:10px; }
//   &:after { content:url('/src/img/quote-close.svg'); position:absolute; right:10px; bottom:10px; }
//   span { font-size:12px; display:block; width:100%; text-align:right; }
// }
// iframe { margin:0 auto 2.5rem auto; display:block }

// pre { max-height:400px; margin-bottom:30px; font-size:1.2rem; }
