meta charset='utf-8'
meta name='viewport' content='initial-scale=1'
meta name='description' content='I&rsquo;m Ian Forsyth, a recent Yale CS grad living and working in NYC. I&rsquo;m a software engineer who appreciates great design and loves the outdoors. I spend my professional hours working full-time at VTS, feel free to get in touch.'
meta name='robots' content='index, follow'
meta name='googlebot' content='index, follow'

meta property='og:title' content='Ian Forsyth'
meta property='og:type' content='website'
meta property='og:url' content='/'
meta property='og:site_name' content='Ian Forsyth'
meta property='og:description' content='I&rsquo;m Ian Forsyth, a recent Yale CS grad living and working in NYC. I&rsquo;m a software engineer who appreciates great design and loves the outdoors. I spend my professional hours working full-time at VTS, feel free to get in touch.'
