
.home {





  #inspiration { padding:5rem 0 0 0; color:white;

    h2 { color:white; z-index:25; span { background:white; } }
    p { color:white; }
    #quote-wrap { position:relative; overflow:hidden; z-index:25; }
    article { position:absolute; left:0; right:0; bottom:100%; max-width:700px; margin:0 auto; }
    article.showing { position:relative; bottom:0; @include transition(.35s); }
    article.fade { opacity:0; @include transition(.35s); }
    article.slide { bottom:0; @include transition(.35s); }
    p.quote { font-size:2.0rem; text-align:center; padding:0 3%; }
    p.author { text-align:right; padding-right:100px; margin-top:20px; }
    p.button { text-align:center; width:100%; position:relative; background:$charcoal; color:$light-charcoal; padding:.5rem; font-size:2rem; cursor:pointer; margin-top:5rem; z-index:25; }

    .bg { background-size:cover; background-position:center; background-attachment:fixed; position:absolute; height:100%; width:100%; top:0; left:0; }
    .overlay { height:100%; width:100%; background:$charcoal; position:absolute; top:0; left:0; opacity:.8; }
    #saint-exupery-bg { z-index:10; background-image:url(../img/inspiration/saint-exupery.jpg); }
    #da-vinci-bg { z-index:1; background-image:url(../img/inspiration/da-vinci.jpg); }
    #kidd-bg { z-index:1; background-image:url(../img/inspiration/kidd.jpg); }
    #lemond-bg { z-index:1; background-image:url(../img/inspiration/lemond.jpg); }
    #glaser-bg { z-index:1; background-image:url(../img/inspiration/glaser.jpg); }
    #jobs-bg { z-index:1; background-image:url(../img/inspiration/jobs.jpg); }

    @media(max-width:475px) { display:none; }
  }


}

#footer { @include clearfix; text-align:center; padding:3rem 0; background:$light-gray; padding-bottom:0;
  .logo { position:relative; display:inline-block;
    #logo-color { position:absolute; top:0; left:0; opacity:0; @include transition(8s); }
    &:hover #logo-color { opacity:1; @include transition(1s) }
  }
  .social { position:relative; z-index:3; display:block; margin-top:2rem;
    a { position:relative; display:inline-block; width:45px; }
    a img { width:100%; @include transition(1s) }
    a span { width:100%; position:absolute; left:0; top:0; opacity:0; @include transition(1s) }
    a .draft { left:-14px; font-size:1.2rem; font-weight:600; width:75px; color:#EA4A87; @include transition(.5s); }
    a:hover > img { opacity:0; }
    a:hover span { opacity:1; }
    a:hover .draft { opacity:1; top:-18px; }
  }
  #subscribe { margin:2rem auto 0 auto;
    p { background:$gray; color:$light-gray; display:inline-block; font-size:1.8rem; font-weight:600; width:17.5rem; line-height:3.5rem; border-radius:3px; cursor:pointer; -webkit-transition:background .5s ease-in-out, width .5s ease-in-out .5s; transition:background .5s ease-in-out, width .5s ease-in-out .5s; }
    #subscribe-text { border:0; font-size:1.8rem; display:inline-block; margin:0; outline:none; height:3.5rem; padding:0; opacity:0; @include subscribe(.5s, .5s, 0s); max-width:0px; border-radius:none; }
    #subscribe-submit { margin-left:-.5rem; width:10rem; border-top-left-radius:0px; border-bottom-left-radius:0px; opacity:0; @include subscribe(.5s, .5s, 0s); max-width:0;  }
    #subscribe-button:hover { background:$charcoal; }
    &.active {
      p { background:$charcoal; }
      #subscribe-button { width:4rem; border-top-right-radius:0px; border-bottom-right-radius:0px; @include transition(.5s); }
      #subscribe-text { opacity:1; cursor:auto; cursor:auto; display:inline-block; max-width:200px; margin-left:-.2rem; padding-left:.4rem; @include subscribe(.5s, 0s, .5s); }
      #subscribe-submit { opacity:1; cursor:pointer; display:inline-block; max-width:10rem; @include subscribe(.5s, 0s, .5s); }
    }
    @media(max-width:350px) {
      &.active { #subscribe-submit { margin-left:13rem; } }
      #subscribe-submit { border-top-left-radius:0px; border-bottom-left-radius:2px; border-top-right-radius:0px; }
    }
  }
  #copyright p { background:$charcoal; margin-top:3rem; color:white; padding:.5rem 0; }
}

.four-oh-four { padding-top:4rem;
  #error-page { text-align:center;
    img { width:100%; max-width:20rem; margin-top:5rem; }
    h2 { font-size:10rem; font-weight:400; text-align:center;  }
    p { width:90%; margin:0 auto 5rem auto; max-width:40rem; }
  }
}
