// Ian Forsyth
//  http: //ianforsyth.com
//  Reset css

html { font-size: 62.5%; font-weight: 400; -webkit-font-smoothing: antialiased; text-shadow: 1px 1px 1px rgba(0,0,0,0.004); height: 100%; }
body, ul, li, p, h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-size: 18px; font-size: 1.8rem; font-weight: 300; }
body { min-width: 320px; height: 100%; }

a { text-decoration: none; color: inherit; }
ul { list-style: none; }
input[type="text"], input[type="password"], input[type="email"], input[type="submit"], textarea { background: white; margin: 0; outline: 0; border: 0; }

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@mixin clearfix {
  &:before, &:after { content: " ";  display: table; }
  &:after { clear: both; }
}

body.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

@mixin transition($duration, $properties: all, $delay: 0s) {
  @if $properties == "all"{
    -webkit-transition: all $duration ease-in-out $delay;
    transition: all $duration ease-in-out $delay;
  } @else {
    transition-property: $properties;
    transition-duration: $duration;
    transition-timing-function: ease-in-out;
    transition-delay: $delay;
  }
}

@mixin subscribe($duration, $delay, $delay-two) {
  -webkit-transition:
    max-width $duration ease-in-out $delay,
    margin $duration ease-in-out $delay,
    padding $duration ease-in-out $delay,
    opacity $duration ease-in-out $delay-two;

  transition:
    max-width $duration ease-in-out $delay,
    margin $duration ease-in-out $delay,
    padding $duration ease-in-out $delay,
    opacity $duration ease-in-out $delay-two;
}

@mixin rotate($degree) {
    transform:rotate(#{$degree}deg);
    -ms-transform:rotate(#{$degree}deg); /* IE 9 */
    -webkit-transform:rotate(#{$degree}deg); /* Safari and Chrome */
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


