// Common styles
h1 {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}

h2 {
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

%homepage-section {  padding: $vertical-padding $outside-padding; }
.homepage-section-title {
  position: relative;
  padding-bottom: $vertical-padding;

  &:after {
    content: ' ';
    position: absolute;
    height: 3px;
    width: 100px;
    left: 50%;
    top: 40px;
    margin-left: -50px;
    background: $charcoal;
  }
}
