.footer {
  @include clearfix;
  text-align:center;
  padding:3rem 0;
  background:$light-gray;
  color: $gray;
}

.footer-logo {
  position:relative;
  display:inline-block;
}

.footer-logo:hover .footer-logo-color {
  opacity:1;
  @include transition(1s)
}

.footer-logo-color {
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  @include transition(8s);
}

.subscribe { margin:2rem auto 0 auto; }

.subscribe-button,
.subscribe-submit {
  background: $gray;
  color: $light-gray;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  width: 175px;
  line-height: 35px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background .5s ease-in-out, width .5s ease-in-out .5s;
  transition: background .5s ease-in-out, width .5s ease-in-out .5s;
}

.subscribe-button {
  text-transform: uppercase;
  &:hover { background:$charcoal; }
}

.subscribe-text {
  @include subscribe(.5s, .5s, 0s);
  font-size: 18px;
  display: inline-block;
  margin: 0;
  outline: none;
  height: 35px;
  padding: 0;
  opacity: 0;
  max-width:0px;
  border-radius:none;
}

.subscribe-submit {
  margin-left:-.5rem;
  width:10rem;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  opacity:0;
  @include subscribe(.5s, .5s, 0s);
  max-width:0;
}

.subscribe.active {

  .subscribe-button, .subscribe-submit { background:$charcoal; }

  .subscribe-button {
    width:4rem;
    border-radius: 3px 0 0 3px;
    @include transition(.5s);
  }

  .subscribe-text {
    opacity: 1;
    display: inline-block;
    max-width: 200px;
    padding: 0 5px;
    @include subscribe(.5s, 0s, .5s);
    @media(max-width:350px) { max-width: 160px; }
  }

  .subscribe-submit {
    opacity: 1;
    cursor: pointer;
    display: inline-block;
    max-width: 100px;
    @include subscribe(.5s, 0s, .5s);
  }
}

.copyright {
  text-align: center;
  font-size: 12px;
  background:$charcoal;
  color:white;
  padding: 5px 0;
}

