.socialmedia-link {
  @include transition(.5s);
  position: relative;
  display: inline-block;
  font-size: 40px;
  margin: 5px;

  &.icon-strava:hover { color: $strava-color; }
  &.icon-twitter:hover { color: $twitter-color; }
  &.icon-github:hover { color: $github-color; }
  &.icon-linkedin:hover { color: $linkedin-color; }
  &.icon-dribbble:hover { color: $dribbble-color; }
}

