.socialmedia-link {
  @include transition(.3s, color);
  position: relative;
  display: inline-block;
  font-size: 40px;
  margin: 5px;

  &.icon-resume:hover { color: $resume-color; }
  &.icon-twitter:hover { color: $twitter-color; }
  &.icon-github:hover { color: $github-color; }
  &.icon-instagram:hover { color: $instagram-color; }
  &.icon-dribbble:hover { color: $dribbble-color; }
  &.icon-medium:hover { color: $medium-color; }
}

