.tag {
  display:inline-block;
  position:relative;
  overflow:hidden;
  margin:.5rem .3rem;

  a {
    display:block;
    font-size: 16px;
    padding: 3px 5px;
    border-radius: 3px;
    @include transition(.2s);
  }

  a:first-of-type {
    background: $gray;
    position: relative;
    left: 0%;
  }

  a:last-of-type {
    background: $charcoal;
    color: white;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
  }

  &:first-of-type { margin-left: 0; }

  &:hover a:first-of-type { left: -100%; }
  &:hover a:last-of-type { left: 0px; }
}
