// Fonts
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
html { font-family: Lato; }

// Colors
$charcoal: #253136;

// Social Media Colors
$facebook-color: #3B5998;
$twitter-color: #55ACEE;
$dribbble-color: #EA4C89;
$resume-color: #72BDDA;
$linkedin-color: #0976b4;
$github-color: #888;
