---
  title: A Better Subway Bag
  tags: Bad Design, Everyday Design
  date: 2013/11/6
  excerpt: "I really enjoy good design. I get a lot of pleasure out of those 'ah-ha!'' moments when I realize exactly what a designer was trying to accomplish. I like being able to notice that one monumental decision that created a truly unique, useful, and beautiful piece of art. On the other hand, there are those times I notice a design flaw and try to understand the decision that was made."
---

p I really enjoy good design. I get a lot of pleasure out of those "ah-ha!" moments when I realize exactly what a designer was trying to accomplish. I like being able to notice that one monumental decision that created a truly unique, useful, and beautiful piece of art. On the other hand, there are those times I notice a design flaw and try to understand the decision that was made. So every once and while, I like to talk about bad design on this blog. Because that's one of the best ways to learn. Amiright?

p Disclaimer: I'm a big Subway fan. While I was at school during a break when the dining halls were closed or at a summer program where the food was really bad (I'm looking at you RISD, some creative people do still eat meat you know) I lived on Subway. Though I've never had a breakfast flat-bread, lunch, dinner, and late night snack are all doable with a footlong. And yes, I know there are much better subs out there, don't even get me started on Wegman's. But Subway is cheap and I'm poor, it's a good match.

p Overall, Subway has a good eye for design I think. The logo is crisp with good lines and geometry. The arrows on either end add a subtle identity to the bold typography and the colors go well together. The stores are all laid out the same, there's consistency and continuity no matter where in the country you're grabbing a sandwich. The line moves through quickly and they can fit a good number of employees behind the counter without it becoming crowded and inefficient. However, I have one serious problem with Subway, and that's their bags.

img src="/src/img/blog-img/subway-bag.jpg" alt="Terribly designed Subway bag"
p.post-caption The accursed Subway bag. (Photo credit UCSF Office of Sustainability

p If you know me, I've probably complained about this to you. Why, oh why, would I want to carry my sandwich vertically? Sometimes I walk out of the shop with a saucy Buffalo chicken or I opt for an Italian BMT with some extra oil. Short of the one strange person I know who gets nothing but turkey and bread, people like their liquid toppings -- be it BBQ, mayo, lite mayo (whatever the heck that is), honey mustard, chipotle, vinegar, etc. I'm not a fan of grabbing my bagged sandwich and turning it on its end so all that goodness can drip to the bottom. Now I'm probably in the minority in that most of the time, I'm walking to and from Subway. So, I can't just toss it in the passenger seat of my car and drive it home. Instead, I have to cradle the to-be devoured sandwich in my arm like a baby, making no use of the handles.

p Now yes, this bag design certainly has advantages over a stereotypical plastic shopping bag. It fits the sandwich nicely, cutting down on the material needed. It leaves just enough room to stuff some napkins around the side and you're off. The bag does cause trouble for people who decide to add on a cookie or bag of chips because that's not a problem I'm tackling today (mostly because I'm not one of those people). But using the handles means carrying the sandwich on it's end. So what's the solution? I suppose there's two.

p First, imagine taping the bag shut and then cutting an opening all the way down the length. Then add handles. It's like a basket of sorts. Personally, I don't like the idea of such a large shallow opening. So solution two is to just add reinforced handle cuts to the long side of the bag. Just put two slits in there I can put a hand through and use. That way, the bag is still tight, nothing about the bagging process has to change (still the same opening), and I don't arrive back home only to find the contents of my sub have decided to hang out at the bottom of the bag.

