---
  title: Opera Coast - The Mobile Browser
  tags: Design, Mobile
  date: 2013/10/30
  excerpt: "I'll make some concessions, I've never used Opera as a browser, I've never programmed a plug-in for Opera, and I've never designed a website with Opera in mind. But the company really impressed me back in early September with it's new mobile browser, Coast. They've tag-lined it, 'the browser that should have come with the iPad.' Honestly, the makers are not far off in that claim."
---

p I'll make some concessions, I've never used Opera as a browser, I've never programmed a plug-in for Opera, and I've never designed a website with Opera in mind. But the company really impressed me back in early September with it's new mobile browser, <a href="http://coastbyopera.com/">Coast</a>. They&rsquo;ve tag-lined it, "the browser that should have come with the iPad." Honestly, the makers are not far off in that claim.

p I think we can all agree the iPhone is a revolutionary piece of technology. It changed the way the world thinks about the mobile experience and how designers should serve that experience. The multitouch features ushered in a new era of usability. For example the two finger pinch eliminated the zoom buttons and the slider destroyed the need for increase/decrease controls. Applications you found on a computer were transformed to fit the hand-held screen size. Menus were moved, hidden out of sight until needed, pages became elongated, taking advantage of the endless real-estate below the fold, and location services and the built in camera were integrated.

p Apple did a great job molding this new UX. But there are still some artifacts left in places where they didn't take it far enough. <a href="https://twitter.com/HKleinhout">Huib Kleinhout</a> and his team think Safari is one of those apps that slipped through the cracks and they make a great point. The traditional Apple branded browser hasn&rsquo;t been changed enough to suit the growing mobile need. Kleinhout&rsquo;s Coast is the proverbial caulk.

iframe.post-video src="//player.vimeo.com/video/74105320" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen

p Specifically targeted at tablet users, Coast takes the traditional browser and eliminates UI features that can be replaced by intuitive touch. Gone are buttons for tabs, forward, back, and page closure. Also, the URL address bar isn't taking up precious pixels.

p.post-blockquote The iPad is nearly buttonless; why shouldn't the apps for it be? All navigation is done by swiping the way you naturally would on an iPad - just like in a good iPad app. A single button takes you to the home screen, and another shows the sites you have recently visited - that's about it for buttons in Coast.

p I've spent time playing around with coast and I think it's great. It just shows that touch is going to keep driving design and gestures are going to phase out the almighty button. For developers worried about dealing with another pesky vendor prefix, there's no cause for alarm. Despite Opera Mini, which was built on it's own engine to render, Coast uses webkit, the same engine Chrome and Safari run on. It's also the engine built into iOS, so there's no extra layer of abstraction between you and your guilty-pleasure advice columns.

p Safari has always been moving in the right direction, just not taking big enough steps. For example, in my opinion, bookmarks in the new iOS 7 version are greatly improved. You can swipe a page to the left to close it completely, but they've still got the traditional 'X' up in the corner. Opera Coast is targeting a more aware demographic and trusting it's users' abilities. I'm a fan, but I'd bet we see some of these features pop up in Safari soon.
