---
  title: WRI Calculator App
  tags: Case Study, iOS, Mobile
  date: 2013/1/19
  excerpt: "The WRI Calculator was my first new app in iOS 7 and I was fortunate enough to be given a lot of freedom on the design. I've spent a lot of time in Xcode the last few months updating older apps to jive with new 4 inch screens and the flat scheme but getting to do layout from the ground up, instead of just adapting, was fun."
---

p The WRI Calculator was my first new app in iOS 7 and I was fortunate enough to be given a lot of freedom on the design. I've spent a lot of time in Xcode the last few months updating older apps to jive with new 4 inch screens and the flat scheme but getting to do layout from the ground up, instead of just adapting, was fun. I got to work with some great people over at the <a href="http://www.wirereinforcementinstitute.org">Wire Reinforcement Institute</a> to get a handle on the necessary measurements, units, and formulas. The final product is a practical app for the iPhone and iPad that replaces formula sheets and makes calculations fast and easy.

p Overall, the app didn't present many design challenges. The functionality was straightforward and guiding the user through the flow wasn't difficult. The landing screen includes the WRI logo and a short blurb I pulled from the website. A navigation bar button gives the user the option to see a full description. The app was built to calculate two different values, depending on the input. To see the actual calculator, the user chooses to find wire size or wire spacing. That's really the only serious branch in the UI tree and the actual calculator is only changed slightly based on that decision.

img src="/src/img/blog-img/wri-landing-empty.png" alt="WRI Calculator App Landing and Calculator View"

p The calculator itself always has five inputs. The units to each field are discreetly labeled and the first field uses a restricted set of designations shown in a UIPicker. Beyond the actual calculation, there are options to see metric or standard bar designations charts. There is also an accurate ruler that slides out from the side as a fun extra feature.

img src="/src/img/blog-img/wri-picker-ruler.png" alt="WRI Calculator App Picker and Ruler Views"

p Once the inputs are set, the clear call to action on the screen is the calculate button. Once tapped, it disappears to reveal a final calculated result along with a more specific sub-result. Two other buttons are revealed, one to to recalculate the result after the inputs have been modified and another to take the user to a details screen where they can get a more detailed description.

img src="/src/img/blog-img/wri-result-details.png" alt="WRI Calculator App Result and Details Views"

p Behind the design, the development wasn't too difficult. The most challenging part was getting a handle on the formulas and how the inputs played into them. The landing screen sets a variable that's carried through the rest of the app determining what the user wants to calculate. The UIPicker values, bar designations, are simply hardcoded to match up with a partner array of corresponding bar areas. The ruler animation is handled with a simple UIView animation and scaled depending on what device it's being used on.

p The WRI Calculator is a free iPhone and iPad utility app in the store, it's no longer available in the app store.
