---
  title: Ride The Divide
  tags: Travel, Cycling
  date: 2014/2/8
  excerpt: "The Tour Divide is a fully self supported 2745 mile mountain bike race from Banff in Alberta Canada to Antelope Wells, New Mexico. Decidedly not for sprinters, this battle royale braves mountain passes and windswept valleys of the Continental Divide from hinterlands of the Canadian Rockies to badlands of the Mexican Plateau."
---

p The <a href="http://tourdivide.org/">Tour Divide</a> is a fully self supported 2745 mile mountain bike race from Banff in Alberta Canada to Antelope Wells, New Mexico.


p.post-blockquote Decidedly not for sprinters, this battle royale braves mountain passes and windswept valleys of the Continental Divide from hinterlands of the Canadian Rockies to badlands of the Mexican Plateau.
  <span>Tour Divide Website</span>


p The race begins the second week in June and typically takes three weeks to complete. It's a very loose format where the spirit of the race keeps it fair and the riders police themselves. There is no pre-race meeting, there are no checkpoints along the way, and there are no officials on the course. You traverse immense landscapes, awe-inspiring mountain ranges, eye-watering descents, thick forest, deep snow, and so much more. It must be an incredible rush for anyone that starts it and a life accomplishment for anyone who finishes. I want to do both.

p A few years ago I stumbled on <a href="http://www.ridethedividemovie.com/">Ride The Divide</a> a documentary produced by <a href="https://twitter.com/goodlifecyclist">Mike Dion</a> and others. It was an incredible story that followed Dion himself and several other Tour Divide competitors through the race and all the highs and lows that accompanied it.


p I re-watch that movie constantly, it's my absolute favorite of all time and it's always an uplifting despite some of the heartbreaks it portrays. The shots the filmmakers were able to get are amazing and I feel like they truly do the wonder of the race justice. The beautiful nature scenes and wildlife with determined riders in the foreground make me want to book flights to Banff today. One scene that really stood out to me was a shot of Dion off his bike, making a call to his family. The chance to see and take in a sight like that is once in a lifetime. As rare as those moments are supposed to be, they don't seem so rare on the Tour divide. I'm sure everyday includes breathtaking sites like that and because you're on the bike, you can take them in for miles.


img src="/src/img/blog-img/ride-the-divide-dion.jpg" alt="Mike Dion Ride The Divide"
p.post-caption  Mike Dion calling home during his Tour Divide attempt in 2010. I wouldn't mind waking up to that.


p Personally I love a good view and I always take the time to stop and take them in. I also like my quiet alone time and the Tour Divide offers plenty of that too. All the riders start out together but different groups form quickly based on fitness and skill level.


p.post-blockquote A few hours mountain climbing turns a rogue and a saint into two roughly equal creatures. Weariness is the shortest path to equality and fraternity &mdash; and liberty is finally added by sleep.<span/>Nietzsche</span>


p  So I'm sure there is a great comeradery that forms but there are also situations that cause breaks in the groups and lead to a back and forth game of catch-up. Those long days in the saddle and the minutes spent trying to fall asleep under the clear starry sky alone would be an ideal time for thought, the ultimate opportunity for introspection.


img src="/src/img/blog-img/ride-the-divide-mary.jpg" alt="Mary Metcalf-Collier The Divide"
p.post-caption  <a href="http://sirenmary.com/">Mary Metcalf-Collier</a> is one of the racers the documentary followed. She struggled with her time alone but eventually became the first woman to complete the race.


p Technically, the Tour Divide is a race. Every year there's a winner and the rest of the field trickles in days or even weeks later. Although in cycling, I'm ultra competitive and winning is a constant drive, that's not how I'd approach this opportunity. Of course I'd ride at a strong pace and there would absolutely be days I push myself to my physical limits. But, overall I don't want to miss out on the beauty the race can offer while being consumed by the will to win. I don't want to be riding sleep deprived and dehydrated with tunnel vision and the only thought on my mind arriving in New Mexico first. I want to be alert, let my jaw drop, stop and smell the flowers, run my hands through the tall grass, take a swim in a scenic lake, and let the race take its full effect on me.





