h1.heading-name Ian Forsyth

p.description
  | I'm a full stack engineer with a love for product design.
    Right now, I'm part of the great team at <a href='http://vts.com' target='_blank'>VTS</a>
    and I work for <a href='http://tetras.co' target='_blank'>Tetras</a> in my spare time.
    When I'm not in front of the computer, you'll find me outside running, climbing,
    backpacking, and skiing.

p.description
  | You can check out my code on <a target='_blank' href='https://github.com/ianforsyth'>Github</a>,
    my designs on <a target='_blank' href='https://dribbble.com/ianforsyth'>Dribbble</a>,
    and my writing on <a target='_blank' href='https://medium.com/@ianforsyth'>Medium</a>.
