@media print {
  * { -webkit-print-color-adjust: exact; }

  body {
    background: none;
    padding: 0;
    min-height: 0;
    min-width: 0;
  }

  .sitedoc {
    box-shadow: none;
    margin: 0;
    box-shadow: 0;
    padding: .25in;
  }
}

@media screen {
  body {
    background: #C5C5C5;
    padding: .5in;
    min-width: 9.5in;
    min-height: 12in;
    zoom: 110%;
  }

  .sitedoc {
    background: white;
    height: 11in;
    width: 8.5in;
    margin: 0 auto .5in auto;
    box-shadow: 0px 0px 10px rgba(black, .5);
    position: relative;
  }
}

.resume-header {
  background: #072743;
  color: white;
  padding: .5in;
}

.resume-contactinfo { float: left; }

.resume-contactinfo-name {
  font-size: 48px;
  font-weight: 400;
  line-height: 42px;
}

.resume-contactinfo-details {
  font-size: 10pt;
  font-weight: 400;
  margin-top: 10px;
}

.resume-socialmedia { float: right; }

.resume-socialmedia-tagline {
  margin-top: 6px;
  width: 350px;
  font-weight: 400;
  font-size: 11pt;
}

.resume-socialmedia-links {
  font-size: 10pt;
  margin-top: 10px;
}

.resume-attrs {
  margin-top: .25in;
  padding: 0 .25in;
}

.resume-attr {
  position: relative;
  padding: .0625in 1in .0625in 1.6in;
}

.resume-attr-title {
  font-size: 10pt;
  font-weight: 300;
  position: absolute;
  left: 0;
  text-align: right;
  width: 1.1in;
}

.resume-attr-content {
  font-size: 10pt;
  font-weight: 300;
}

.resume-attr-secondarycontent {
  font-size: 8pt;
  font-weight: 300;
}

.resume-attr-date {
  font-size: 6pt;
  position: absolute;
  right: 0;
  top: 8pt;
  font-weight: 300;
}

@media print {
  .resume-header { padding: .25in; }
  .resume-attrs { padding: 0; }
}
