.home-blogpost {
  @extend %homepage-section;
}

.home-blogpost-wrap {
  max-width: 700px;
  margin: 0 auto;
}

.home-blogpost-title {
  font-size: 24px;
  font-weight: 900;
}

.home-blogpost-date { font-size:1.4rem; }

.home-blogpost-tags {
  margin: 10px 0;
}

.home-blogpost-content {
  line-height: 25px;
}

.home-blogpost-readon {
  text-decoration:none;
  color:$light-charcoal;
  font-weight:800;
}

.home-bloglink {
  display: block;
  width: 100%;
  background:  $charcoal;
  color:  white;
  text-transform:  uppercase;
  text-align: center;
  font-weight: 800;
  font-size: 1.8rem;
  padding: 10px 0;
}
