.hero {
  background:url(../img/hero.jpg);
  background-size:cover;
  text-align:center;
  min-height:500px;
  height: 100%;
  color:white;
  position:relative;
}

.hero-overlay {
  height:100%;
  width:100%;
  background:$charcoal;
  position:absolute;
  top:0;
  left:0;
  opacity:.9;
}

.hero-wrap {
  @include vertical-align;
  padding: 0 $outside-padding;
}

.hero-tagline {
  font-weight: 500;
  font-size: 32px;
  position: relative;
  margin: 10px auto 20px auto;
  max-width: 700px;
}
