.work {
  @extend %homepage-section;
  position: relative;
  background: white;
}

.worksamples {
  @include clearfix;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 5%;
  text-align: center;
}

.worksample {
  width: 31.33%;
  float: left;
  position: relative;
  overflow:hidden;
  margin: 0 0 3% 3%;
  background: $charcoal;

  @media(min-width: 1101px) {
    &:nth-of-type(3n+1) { margin-left:0; }
  }

  @media(max-width: 1100px) {
    width: 47%;
    margin: 0 0 5% 5%;
    max-width: 400px;
    float: none;
    display: inline-block;

    &:nth-of-type(odd) { margin-left: 0; }
  }

  @media(max-width: 750px) {
    width: 100%;
    margin-left: 0;
  }
}

.worksample-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  padding: 30px 15px;
  color: white;
}

.worksample-description-title {
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 10px;
}

.worksample-description-text { font-size: 18px; }

.worksample-description-link {
  background: white;
  color: $charcoal;
  font-size: 18px;
  font-weight: 900;
  padding: 8px 10px;
  border-radius: 3px;
  position: absolute;
  bottom: 30px;
  left: 10%;
  width: 80%;
}

.worksample-image {
  position: relative;
  display: block;
  width: 100%;
  left: 0%;
  @include transition(.35s);
}

.worksample:hover .worksample-image { left: 75%; }

