#invoice {
  header { background:$charcoal; color:white; padding:.5in; @include clearfix; position:relative;
    img { margin-bottom:.25in; float:left; }
    p { font-size:1.6rem; font-weight:400; }
    p.invoice-data{ float:right; font-weight:400; text-align:right; }
    p.client { float:left; clear:left;  }
    p.me { position:absolute; right:.5in; bottom:.5in; text-align:right; }
  }
  .project-heading { background:$gray; @include clearfix; padding:.125in .5in;
    p { font-size:1.4rem; float:left; font-weight:900; }
    p.project-title { width:70%; text-transform:uppercase; }
    p.hrs { width:15%; text-align:right; }
    p.cost { width:15%; text-align:right; position:abso }
  }
  .work {
    article { padding:.125in 0; margin:0 auto; width:7.5in; border-bottom:1px solid $charcoal; @include clearfix;
      p { font-size:1.4rem; float:left; font-weight:900; }
      p.title { width:70%; text-transform:uppercase; }
      p.hrs { width:15%; text-align:right; text-transform:uppercase; }
      p.cost { width:15%; text-align:right; text-transform:uppercase; }
      p.description { width:70%; font-size:1.2rem; font-weight:400; }
      &:last-of-type { border:0; }
    }
  }
  .project-total { background:$gray; @include clearfix; padding:.125in .5in;
    p { font-size:1.4rem; float:left; font-weight:900; }
    p.total { width:70%; text-transform:uppercase; }
    p.hrs { width:15%; text-align:right; }
    p.cost { width:15%; text-align:right; }
  }
  footer { position:absolute; bottom:0; left:0; padding:.25in;
    p { font-size:1.2rem; text-align:center;}
  }
}
