.yale-cycling-logos { text-align:center; }

.yale-cycling-logo:first-child {
  margin-right: $outside-padding;
}

.post .yale-cycling-logo  {
  width: 40%;
  display: inline-block;
  vertical-align: middle;
  border :none;
  background: none;
}
