.ianforsyth {
  background: url('/src/img/background.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: auto
}

.ianforsyth-information {
  padding: 20px
}

.heading-name {
  text-align: center;
  font-size: 36px;
  letter-spacing: 5px;
  font-weight: 600;
  text-transform: uppercase;
}

.description {
  width: 100%;
  max-width: 550px;
  margin-top: 30px;
  font-weight: 400;
  line-height: 1.4;
  font-family: Bitter;

  a {
    color: $blue;
    &:hover {
      @include transition(.3s, color);
      color: lighten($blue, 5%);
    }
  }
}
